<!-- <nav class="head" style="background-color: lavender;"> -->
    <!-- <img routerLink="/" src="https://cdn-icons-png.flaticon.com/512/3081/3081380.png" height="50" width="50"> -->
<!-- <h1 routerLink="/">Hygiene Care</h1>
<ul>
<li><a routerLink="/orders">Orders</a></li>
<li><a >Users</a></li>
<li><a >Products</a></li>
<li><a routerLink="/hospital">Hospitals</a></li>
<li><a routerLink="/department">Departments</a></li>
<li><a >Report</a></li>
</ul>
</nav>  --> <mat-toolbar style="background-color:midnightblue;height: 60px;">
    <span style="color: aliceblue;">Hygiene Products</span>
    <span class="example-spacer"></span>
    
    <button class="btn1" routerLink="/home" mat-raised-button style="background-color:aliceblue;width:auto;height: 30px;" >
        Home
    </button>
        <button class="btn2" routerLink="/login" mat-raised-button style="background-color:aliceblue;width:auto;height: 30px;" >
            Login
        </button>
        <button class="btn2" routerLink="/register" mat-raised-button style="background-color:aliceblue;width:auto;height: 30px;" >
            Register
        </button>
     </mat-toolbar> 
 