<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <div class="container my-5">
      <h1 class="mb-3" style="text-decoration: solid;">Add Product</h1>
   
      <div class="row" >
        <div class="col-sm-6">
          <form #form="ngForm" (ngSubmit)="addOrder()" style="display:block ;">
            <div class="col-6">
              <label for="id" class="form-label">OrderId</label>
              <input type="text" class="form-control" id="Id" name="id" [(ngModel)]="addOrderRequest.OrderId">
            </div>
            <div class="col-6">
              <label for="datetime" class="form-label">OrderDate</label>
              <input type="text" class="form-control" id="date" name="datetime" [(ngModel)]="addOrderRequest.OrderDate">
            </div>
            <div class="col-6">
              <label for="createdby" class="form-label">CreatedBy</label>
              <input type="text" class="form-control" id="By" name="createdby" [(ngModel)]="addOrderRequest.CreatedBy">
            </div>
            <!-- <div class="col-6">
                <label for="createdon" class="form-label">CreatedOn</label>
                <input type="text" class="form-control" id="On" name="createdon" [(ngModel)]="addOrderRequest.CreatedOn">
              </div> -->
            <div class="col-6">
              <label for="ar" class="form-label">ApprovedRejectedBy</label>
              <input type="text" class="form-control" id="rejby" name="ar" [(ngModel)]="addOrderRequest.ApprovedRejectedBy">
            </div>
            <!-- <div class="col-6">
              <label for="aron" class="form-label">ApprovedRejectedOn</label>
              <input type="text" class="form-control" id="apreon" name="aron" [(ngModel)]="addOrderRequest.ApprovedRejectedOn">
            </div> -->
            <div class="col-6">
                <label for="quantity" class="form-label">Quantity</label>
                <input type="text" class="form-control" id="quan" name="quantity" [(ngModel)]="addOrderRequest.Quantity">
              </div>
              <div class="col-6">
                <label for="allorder" class="form-label">AllowedOrder</label>
                <input type="text" class="form-control" id="allord" name="allorder" [(ngModel)]="addOrderRequest.AllowedOrder">
              </div>
              <div class="col-6">
                <label for="status" class="form-label">Status</label>
                <input type="text" class="form-control" id="stat" name="status" [(ngModel)]="addOrderRequest.Status">
              </div>
              <div class="col-6">
                <label for="hid" class="form-label">HospitalId</label>
                <input type="text" class="form-control" id="hospid" name="hid" [(ngModel)]="addOrderRequest.HospitalId">
              </div>
              <div class="col-6">
                <label for="did" class="form-label">DepartmentId</label>
                <input type="text" class="form-control" id="depid" name="did" [(ngModel)]="addOrderRequest.DepartmentId">
              </div>
              <div class="col-6">
                <label for="pid" class="form-label">ProductId</label>
                <input type="text" class="form-control" id="prodid" name="pid" [(ngModel)]="addOrderRequest.ProductId">
              </div>
              <div class="col-6">
                <label for="uid" class="form-label">UserId</label>
                <input type="text" class="form-control" id="userid" name="uid" [(ngModel)]="addOrderRequest.UserId">
              </div>
            <br>
            <!-- <div class="col-6">
              <label for="status" class="form-label">Status</label>
              <select class="form-select" aria-label="Default select example">
                <input type="text" class="form-control" id="name" name="status" [(ngModel)]="addProductRequest.Status">
                <option selected >--select--</option>
                <option value="1">Active</option>
                <option value="2">InActive</option>
              </select>            
              
            </div> -->
            <br>
            <button type="submit" class="btn btn-primary">Save</button>
    
          </form>
        </div>
      </div>  
    </div>
  
