<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <div class="container">
    
      <div class="table-wrapper">
    
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8" style="margin-top: 20px;"><h2 style="font-size:xx-large ;">Orders List</h2>                                      
                      <button (click)="OnClick()">Add New</button>                    
                  </div> 
              </div>
            </div>
    
          </div>
    
          <table class="table table-bordered" style="margin-top: 20px;">
    
              <thead>
                  <tr>
                    <th>OrderId</th>                      
                      <th>OrderDate</th>
                      <th>CreatedBy</th>
                      <th>ApprovedRejectedBy</th>
                      <th>ApprovedRejectedOn</th>
                      <th>Quantity</th>
                      <th>AllowedOrder</th>
                      <th>Status</th>
                      <th>HospitalId</th>
                      <th>DepartmentId</th>
                      <th>ProductId</th>
                      <th>UserId</th>
                      <th> </th>
                  </tr>
              </thead>

              <tbody>
                  <tr *ngFor="let ord of orderlist">
                    <td>{{ord.orderId}}</td>
                      <td>{{ord.orderDate}}</td>
                      <td>{{ord.createdBy}}</td>
                      <td>{{ord.approvedRejectedBy}}</td>
                      <td>{{ord.approvedRejectedOn}}</td>
                      <td>{{ord.quantity}}</td>
                      <td>{{ord.allowedOrder}}</td>
                      <td>{{ord.status}}</td>
                      <td>{{ord.hospitalId}}</td>
                      <td>{{ord.departmentId}}</td>
                      <td>{{ord.productId}}</td>
                      <td>{{ord.userId}}</td>
                      <td><a [routerLink]="['/editOrder',ord.orderId]">Edit</a></td>
                      <!-- <td><a [routerLink]="['/editproduct',prod.productId]">Edit</a></td> -->
                                            
                        </tr>                        
                         
                    </tbody>
                </table>
            </div>
        
    
    
    


