<div id="background">
   <div id="loginForm">
      <div id="loginRegister">
         <ul>
             <li class="active">SIGN IN</li>
           <!-- <li><a [routerLink]="['../register']" class="register">SIGN UP</a></li> -->
         </ul>
      </div>
      <form #form="ngForm" (ngSubmit)="loginUsers()">
         <label>USERID</label>
         <input type="text" name="name" class="textEnter"  [(ngModel)]="loginRequest.UserId">
        
         <label>USERNAME</label>
         <input type="text" name="name" class="textEnter"  [(ngModel)]="loginRequest.Username">
         <label>PASSWORD</label>
         <input class="textEnter" name="password" type="password" [(ngModel)]="loginRequest.Password">
         <label>Role(User/Admin)</label>
         <input class="textEnter" name="password" type="text" [(ngModel)]="loginRequest.Role">
         <!-- <input id="keepMeInCheck" type="checkbox" [(ngModel)]="loginCustomerRequest.Password"> -->
         <!-- <label id="keepMeInCheckLabel">Keep me Signed in</label> -->
         <button id="signInButton" type="submit">SIGN IN</button>
      </form>
      <hr/>
      <p>
         <a id="forgotPassword" href="#">Forgot Password?</a></p>
   </div>
</div>