<mat-toolbar>
    <button class="btn1" routerLink="/orders" mat-raised-button style="background-color:aliceblue;width:auto;height: 30px;" >
        orders
    </button>
    <button class="btn2" routerLink="/users" mat-raised-button style="background-color:aliceblue;width:auto;height: 30px;" >
        Users
    </button>
    <button class="btn2" routerLink="/department" mat-raised-button style="background-color:aliceblue;width:auto;height: 30px;" >
        department
    </button>
    <button class="btn2" routerLink="/products" mat-raised-button style="background-color:aliceblue;width:auto;height: 30px;" >
        Products
    </button>
    <button class="btn3" routerLink="/hospital" mat-raised-button style="background-color:aliceblue;width:auto;height: 30px;" >
        hospital
    </button>
    <button class="btn2" routerLink="/reports" mat-raised-button style="background-color:aliceblue;width:auto;height: 30px;" >
        Reports
    </button>
    <button class="btn2" routerLink="/home" mat-raised-button style="background-color:aliceblue;width:auto;height: 30px;" >
       Log out
    </button>
    

</mat-toolbar>
