*
{
  padding:0;
  margin:0;
  font-family:sans-serif;
}

body
{
  background-color:#000;
}
.container
{
  top:35%;
  left:5%;
  text-align:center;
  justify-content:center;
  position:absolute;
  transition:translate(-50%,-50%);
  width:100%;
}
.container span
{ 
  text-transform:uppercase;
  display:block;
}
.text1
{
  color:rgb(5, 44, 142);
  font-size:70px;
  font-weight:700;
  letter-spacing:6px;
  margin-bottom:20px;
  margin-left: 50px;
  /* position:relative; */
 
  animation:text 3s infinite;
}
.text2
{
  font-size:40px;
  color:rgb(52, 21, 123);
  position: absolute;
  top: 50%;
  left: 43.2%;
}

.navbar-dark .nav-item .nav-link {
  color: #fff;
}

.navbar-dark .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  color: #fff;
}

.fa-li {
  position: relative;
  left: 0;
}

#MDB-logo{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 35px;
  margin-right: 200px;
}

@keyframes text{
  0%{
    color:black;
    margin-bottom:-40px;
  }
  30%{
    letter-spacing:25px;
    margin-bottom:-40px;
  }
  85%{
    letter-spacing:7px;
    margin-bottom:-40px;
  }
  100%{
    letter-spacing:8px;
    margin-bottom:-30px;
  }
}
